/*.sua classe {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: rgba(227, 222, 222, 0.841);
}

header {
  width: 100%;
  height: 700px;
  /* background: radial-gradient(circle, #ffff00, #ffffff);
  background-size: cover;
  */
}
#capa {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("/imagems/ponte-rolante-head.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  border-radius: 5px;
  opacity: 0.8;
  /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2); */
}
.titulo {
  opacity: 1;
  position: absolute;
  z-index: 2;
  margin-top: -730px;
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(255, 255, 255, 0));
  border: none;
  width: 100%;
  padding: 70px;
}

.titulo h1 {
  font-size: 50px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  /*text-shadow: 2px 2px 4px #000000; */
}

.navegacao {
  border-style: none;
}

.navegacao a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(234, 233, 233);
  font-weight: bold;
  float: right;
  margin: 200xc;
  padding: 20px;
  margin-top: -70px;
  transition: transform 0.2s;
}

.navegacao a:hover {
  /* transform: scale(1.1);  */
  color: rgb(244, 213, 13);
}
.produtos {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 20px;
  margin-left: 100px;
  width: 100%;
}

.produtos img {
  width: 400px;
  height: 250px;
  margin-top: 100px;
  padding: 0;
  margin: 0;
  border-radius: 16px 36px 4px 80px;
  transition: transform 0.5s;
  border-bottom: 7px solid transparent;
}
.produtos img:hover {
  /* transform: scale(1.1); */
  border-bottom-color: rgb(244, 213, 13);
}

main {
  margin: 0;
  padding: 0;
}
.ponte {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.h2-div {
  margin-left: 30%;
  align-items: center;
}

.h2-produto {
  font-size: 50px;
  margin-top: 150px;
  padding-left: 10%;
  text-decoration: 10px underline rgb(244, 213, 13);
  text-align: justify;
}

.ponte h4 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  position: absolute;
  margin-left: 30px;
}

.servicos {
  margin-top: 100px;
  background-color: rgb(35, 35, 35);
  height: 500px;
  border-radius: 5px;
  width: 100%;
  background-size: cover;
  opacity: 0.9;
}
.servicos p {
  color: white;
  width: 40%;
  font-size: 20px;
  margin-left: 40px;
  font-weight: 30px;
  padding: 2%;
}
.servicos h3 {
  color: white;
  margin: 0;
  margin-left: 300px;
}
.img-servicos {
  width: 900px;
  margin-left: 52%;
  margin-top: -27%;
  position: absolute;
  padding: 0;
}
